/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

nav {
   padding: 1rem;
   background-color: aqua;
   font-size: 1.5rem;
   font-weight: 600;
}
ul {
    display: flex;
    gap: 1.5rem;
}
ul li {
    display: flex;
}

.home {
    flex: 1;
}

.button {
    font: bold 1.5rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 0.6rem;
    border: 1px solid aqua;
    border-radius: 0.4rem;
}

.button:hover {
    color: white;
    background-color: black;
}

li a {
    text-decoration: none;
    color: #333333; 
}

.home a:hover, .work a:hover, .about a:hover {
    color: white;
}

.personality-pred {
    font-size: 5rem;
    font-weight: 600;
}

.index-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25rem;
    gap: 1.5rem;
}

.information-page { 
    display: flex;
    padding: 5rem 0rem 0rem 2rem;
}

main form { 
    margin: 0 20vw 0 20vw;
    
}

.first-question-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20% 0 20%;
    gap: 1rem;
}

.first-question-page .button {
    width: 4rem;
    height: 2rem;
}

.panel {
    display: flex;
    padding-left: 8.5rem;
    gap: 9rem;
    justify-content: space-between;
    background-color:goldenrod;
    font-size: 1.6rem;
    
}

.first-question-page form div {
    display: flex;
    justify-content: space-between;
}

.first-question-page form div input{
    display: flex;
    justify-content: space-between;
}

.question label {
    width: 28rem;
    height: 8.8rem;
    font-size: 1.8rem;
}

.question input {
   appearance: none;
   border: 1px solid #d3d3d3;
   width: 2rem;
   height: 2rem;
   content: none;
   outline: none;
   margin: 0rem 2rem 0rem 2rem;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.question input[type="radio"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    border: none;
  }
  

.question input[type="radio"]:checked::before{
    position: absolute;
    color: goldenrod !important;
    content: "\00A0\2713\00A0" !important;
    /* border: 1px solid #d3d3d3; */
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    
}

.first-question-page p {
    font-weight: 600;
    font-size: 4rem;
}





